body {
    margin: 0px;
    margin-bottom: 30px;
    background-color: #141516;
}

header {
    position: fixed;
    height: 100px;
    background-color: #27282a;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
    margin-top: -150px;
    width: 100%;
    z-index: 1;
}

#logo {
    position: relative;
    height: 80px;
    width: 80px;
    float: left;
    margin-top: 10px;
    margin-left: 3%;
    max-height: 80px;
}

#nf {
    max-height: 80px;
}

#navigation {
    position: relative;
    overflow: hidden;
    height: 80px;
    width: 60%;
    float: right;
    margin-top: 10px;
    margin-right: 5%;
}

.navbuttons {
    position: relative;
    float: left;
    height: 100%;
    width: 90px;
    margin-right: 20px;
    border: hidden;
    background-color: transparent;
    color: #32828A;
    font-family: "Montserrat", sans-serif;
    transition: 0.3s;
}

.navbuttons:hover {
    color: #FF6978;
}

#content{
    position: relative;
    height: 500px;
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}


#image {
    position: relative;
    float: left;
    height: 500px;
    width: 40%;
    border-radius: 10px;
}

#headshot {
    display: block;
    max-height: 100%;
    margin-right: auto;
    margin-left: auto;
}

#detail {
    position: relative;
    float: right;
    height: 500px;
    width: 58%;
    /* background-color: #27282a;
    box-shadow: 0px 0px 4px 4px #27282a; */
    border-radius: 10px;
}

#title {
    position: relative;
    float: right;
    height: 70px;
    width: 90%;
    margin-right: 5%;
    margin-top: 10px;
    color: #32828A;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 50px;
}

#desc {
    position: relative;
    float: right;
    height: 200px;
    width: 90%;
    margin-right: 5%;
    margin-top: 90px;
    color: #32828A;
    font-family: "Montserrat", sans-serif;
}

ul {
    font-size: 20px;
}

#buttons {
    position: relative;
    float: right;
    height: 80px;
    width: 70%;
    margin-right: 20%;
    margin-top: -10px;
}

.homebuttons {
    position: relative;
    float: left;
    height: 100%;
    width: 150px;
    margin-right: 20px;
    border: hidden;
    background-color: #27282a;
    border-radius: 8px;
    color: #32828A;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    transition: 0.3s;
}

.homebuttons:hover{
    color: #FF6978;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.4);
}