body {
    margin: 0px;
    margin-bottom: 30px;
    background-color: #141516;
}

header {
    position: relative;
    height: 100px;
    background-color: #27282a;
    box-shadow: 0px 0px 4px 4px #27282a;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#logo {
    position: relative;
    height: 80px;
    width: 80px;
    float: left;
    margin-top: 10px;
    margin-left: 3%;
    max-height: 80px;
}

#nf {
    max-height: 80px;
}

#navigation {
    position: relative;
    overflow: hidden;
    height: 80px;
    width: 60%;
    float: right;
    margin-top: 10px;
    margin-right: 5%;
}

.navbuttons {
    position: relative;
    float: left;
    height: 100%;
    width: 90px;
    margin-right: 20px;
    border: hidden;
    background-color: transparent;
    color: #32828A;
    font-family: "Montserrat", sans-serif;
    transition: 0.3s;
}

.navbuttons:hover {
    color: #FF6978;
}

#content{
    position: relative;
    height: 500px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#detail {
    position: relative;
    float: left;
    height: 500px;
    width: 50%;
    background-color: #27282a;
    box-shadow: 0px 0px 4px 4px #27282a;
    border-radius: 10px;
}

#title {
    position: relative;
    height: 70px;
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    color: #32828A;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    line-height: 70px;
}

.desc {
    position: relative;
    height: 300px;
    width: 80%;
    margin-left: 10%;
    margin-top: 70px;
    color: #32828A;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

#image {
    position: relative;
    float: right;
    display: flex;
    justify-content: center;
    width: 43%;
    height: 500px;
    margin-right: 3%;
    border: 1px solid #32828A;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 6px #32828A;
}

#image img{
    position: inherit;
    height: inherit;
    object-fit: cover;
    overflow: hidden;
}

/* #aboutme {
    display: block;
    float: right;
    padding: 0;
    border: 20px solid #32828A;
    box-shadow: 0px 0px 4px 4px #32828A;
    border-radius: 8px;
    max-height: 120%;
    margin-right: 0;
    margin-left: auto;
} */

