* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #141516;
}

#image {
    width: 30%;
    position: absolute;
    right: 0px;
    height: 100%;
    clear: both;
}

#headshot {
    position: relative;
    height: 70%;
    float: right;
    margin: 50px 0 0 0;

}

#logo {
    width: 100px;
    position: absolute;
    margin: 2.5% 0 0 2.5%;
    clear: both;
}

#nf {
    position: relative;
    width: 100%;
    height: 100%;

}

/* nav {
    position: relative;
    width: 50%;
    margin: 20% 0 0 20%;
} */

#intro {
    color: #32828a
}