* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 800px;
    background-color: #141516;
}

header{
    border:solid #141516 1px;
}

#logo {
    width: 100px;
    position: absolute;
    margin: 2.5% 0 0 2.5%;
    clear: both;
}

#nf {
    position: relative;
    width: 100%;
    height: 100%;

}

#image {
    width: 30%;
    position: absolute;
    right: 5%;
    height: 100%;
    clear: both;
}

#headshot {
    position: relative;
    height: 70%;
    float: right;
    margin: 50px 0 0 0;

}

nav {
    position: relative;
    width: 40%;
    margin: 10% 0 0 12%;
}

#intro {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    letter-spacing: 1.4px;
    word-spacing: -1.6px;
    color: #32828A;
    font-weight: 700;
}

#para {
    margin: 8px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 1.4px;
    word-spacing: -1.6px;
    color: #32828A;
    font-weight: 700;
}

main {
    margin: 5% 0 0 12%;
}

#buttonA {
    width: 170px;
    margin-right: 25px;
    color: #FF6978; 
    font-size: 24px; 
    line-height: 24px; 
    padding: 17px; 
    border-radius: 10px; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700; 
    text-decoration: none; 
    text-transform: none; 
    background-color: #32828A; 
    border: 2px hidden #32828A; 
}

#buttonG {
    width: 170px;
    margin-right: 25px;
    color: #FF6978; 
    font-size: 24px; 
    line-height: 24px; 
    padding: 17px; 
    border-radius: 10px; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700; 
    text-decoration: none; 
    text-transform: none; 
    background-color: #32828A; 
    border: 2px hidden #32828A; 
}

#buttonA:hover {
    background: #FF6978; 
    color: #32828A;
}

#buttonA:active {
    background: #FF6978; 
    color: #32828A;
}

#buttonG:hover {
    background: #FF6978; 
    color: #32828A;
}

#buttonG:active {
    background: #FF6978; 
    color: #32828A;
}